header {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(230, 160, 0);
    padding: 0px 0px 30px 0px;
}
footer {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(240, 100, 0);
    padding: 0px 0px 30px 0px;
    margin-top: 25px;
}
img {
    width: 100%;
    margin-top: 25px;
}
.middle {
    text-align: center;
}
.titleText {
    font-family:verdana; 
    padding-top: 55px; 
    font-size: 55px;
}
.paragraph {
    background-color: rgb(220, 220, 220);
    padding: 10px;
}